#scrubberThumb {
	background-color: rgb(103, 103, 103);
	border-radius: 30%;
	width: 21px;
	height: 20px;
	margin-left: -10px;
	margin-top: 5px;
}

.ui-widget-content {
	/*border: 1px !important;
	background: transparent !important;
	color: transparent !important;*/
}